{% extends 'template.html' %}
{% block title %}Alias{% endblock %}
{% block content %}
<div class="container">
    <h2>Liste des Alias</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Alias</th>
                <th>Adresse IP</th>
                <th>Port</th>
            </tr>
        </thead>
        <tbody id="aliasTable">
            <td>1.2</td>
            <td>2.22</td>
            <td>555</td>        
        </tbody>
    </table>
</div>
<script>
    // Récupération du contenu du fichier JSON
    fetch('/alias.json')
        .then(response => response.json())
        .then(data => {
            const aliasTable = document.getElementById('aliasTable');

            // Boucle à travers les données et crée une nouvelle ligne pour chaque objet JSON
            data.forEach(entry => {
                const row = document.createElement('tr');
                row.innerHTML = `
                    <td>${entry.alias}</td>
                    <td>${entry.ip_address}</td>
                    <td>${entry.port}</td>
                `;
                aliasTable.appendChild(row);
            });
        })
        .catch(error => console.error('Erreur lors de la récupération des données JSON :', error));
</script>

{% endblock %}
