{% extends 'template.html' %}
{% block title %}Rules Nat Add{% endblock %}
{% block content %}
<div class="container">
    <h2>Rules Nat Add</h2>
    <p>Contenu montrant une table nat et des boutons pour ajouter du contenu dans la table.</p>
    <table class="table">
        <thead>
            <tr>
                <th>Colonne 1</th>
                <th>Colonne 2</th>
                <th>Colonne 3</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Donnée 1</td>
                <td>Donnée 2</td>
                <td>Donnée 3</td>
            </tr>
            <!-- Ajoutez d'autres lignes selon vos besoins -->
        </tbody>
    </table>
    <button class="btn btn-primary">Ajouter</button>
</div>
{% endblock %}

