{% extends 'template.html' %}
{% block title %}Rules Nat{% endblock %}
{% block content %}
<div class="container">
    <h2>Rules Nat</h2>
    <p>Contenu montrant une table nat.</p>
    <table class="table">
        <thead>
            <tr>
                <th>Colonne 1</th>
                <th>Colonne 2</th>
                <th>Colonne 3</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Donnée 1</td>
                <td>Donnée 2</td>
                <td>Donnée 3</td>
            </tr>
            <!-- Ajoutez d'autres lignes selon vos besoins -->
        </tbody>
    </table>
</div>
{% endblock %}

