{% extends 'template.html' %}
{% block title %}Accueil{% endblock %}
{% block content %}Accueil
    <h1>Bienvenue sur notre site</h1>
    <p>Nous sommes ravis de vous accueillir sur notre site. Chez nous, vous trouverez des informations précieuses et des services de qualité.</p>
    <p>N'hésitez pas à explorer notre site pour découvrir tout ce que nous avons à vous offrir.</p>
    <p>Si vous avez des questions ou avez besoin d'aide, n'hésitez pas à nous contacter. Notre équipe est là pour vous aider.</p>
    <p>Merci encore pour votre visite et à bientôt !</p>
{% endblock %}